[submodule "genaisrc"]
	path = genaisrc
	url = https://github.com/anoblet/genaisrc.git
[submodule "awesome-copilot"]
	path = awesome-copilot
	url = git@github.com:github/awesome-copilot.git
[submodule ".copilot"]
	path = .copilot
	url = git@github.com:anoblet/.copilot.git
