.astro
.chroma
.env
.firebase
.genaiscript
.lighthouseci
.screenshots
.serena
.playwright-mcp
.wireit
.wrangler
chats
dist
node_modules

genaiscript.d.ts
tsconfig.json
jsconfig.json

.firebaserc
firebase.json

link.json

task.md
tasks.md
